/* Table container */

.better-table-flex {
  height: 100%;
  position: relative;
}

.btf-toolbar {
  align-items: center;
  display: flex;
  min-height: 48px;
  padding: 4px 8px;
}

.btf-footer {
  align-items: center;
  display: flex;
  min-height: 24px;
  padding: 4px 8px;
}

.btf-footer .btf-scroll-index {
  font-size: 12px;
}

.btf-table {
  display: inline-flex;
  flex-direction: column;
  height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
}

.btf-body {
  flex: 1 auto;
  height: 100%;
  overflow-y: auto;
  position: relative;
}

.btf-columns {
  bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.btf-headers {
  display: flex;
  flex: 1;
  justify-content: space-between;
  position: relative;
}

.btf-column {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex: 1;
}

.btf-cell {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  line-height: 32px;
  max-height: 32px;
  min-height: 32px;
  overflow: hidden;
  padding: 0 8px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.btf-cell[data-row-odd=true] {
  background-color: rgba(0, 0, 0, 0.05);
}

.btf-cell[data-hovered=true] {
  background-color: rgba(0,0,0,0.1);
}

.btf-index-input {
  display: inline-flex;
  flex: 1 0 auto;
}

.btf-header {
  align-items: center;
  background-color: inherit;
  box-sizing: border-box;
  color: inherit;
  cursor: pointer;
  display: flex;
  padding: 0 8px;
  width: 100%;
}

.btf-header-contents {
  align-items: center;
  display: flex;
  height: 100%;
  width: 100%;
}

.btf-header-body {
  align-items: center;
  display: flex;
  flex: 1 1 auto;
  height: 100%;
  width: 100%;
}

.btf-header, i.btf-column-sort {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  align-items: center;
  display: flex;
  flex: 1 1;
  font-feature-settings: 'liga';
  font-size: 16px;
  font-style: normal;
  justify-content: flex-end;
  text-rendering: optimizeLegibility;
  text-transform: none;
  width: 32px;
}

.btf-column-sort.none:after {
  content: '';
}

.btf-column-sort.asc:after {
  content: '\2227';
}

.btf-column-sort.desc:after {
  content: "\2228";
}
